.top-anchor-pane {
	-fx-background-color: #003366;
}
.rest-anchor-pane {
	-fx-background-color: #DDDDDD;
}
.stext{
	-fx-text-fill: #AAAAAA;
	-fx-font-size: 1.5em;
	-fx-font-family:"Bodoni MT";
}

.new_transss_container  {
	-fx-background-color:#003366;
	-fx-text-fill: white;
	-fx-font-size: 20px;
	-fx-min-width: 150px;
	-fx-min-height: 50px;

}
.transs_lbl{
	-fx-text-fill:#003366;
	-fx-font-weight:750;
	-fx-font-size:1.5em;
}