.pane  {
    -fx-background-color:#FFFFFF; /* White background color */
    -fx-border-color:linear-gradient(to right, #003366, #10144f);
    -fx-background-radius: 6px;
    -fx-effect:dropshadow(three-pass-box, #AAAAAA, 10, 0, 0, 10);
}
.pane Label {
    -fx-text-fill: linear-gradient(to right, #003366, #10144f);
    -fx-font-size: 1.2em;
    -fx-font-family:"Arial";
}.pane Button {
     -fx-background-color: linear-gradient(to right, #003366, #10144f);
     -fx-background-radius: 4px;
     -fx-text-fill: #FFFFFF;
     -fx-font-size: 1em;
     -fx-font-family:"Arial";
 }
